body{
    height: 100%;
}
#mainNavbar{
    font-family: Nunito;
    font-weight: 100;
    font-size: 2rem;
}
.navbar.scrolled {
    background: white;
    transition: background 500ms;
}


#mainNavbar a{
    color: black;
    font-size: 2rem;
}

#mainNavbar .nav-link:hover{
    color: blue;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#contentMain{
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
}

#headGroup h1{
    font-size: 4rem;
    font-weight: 100;

}

#footer{
    position: absolute; 
    margin-top: -60px;/*等于footer的高度*/ 
    height: 60px; 
    clear:both;
    background: white;
}