<article class="post">
  <header class="post-header home">
    <div class="post-title">About</div>
  </header>
  <h1>Biography</h1>
  <div class="biography">
    I am currently a RecSys architect at ByteDance. My research spans broad areas of computer
    systems, including distributed systems, streaming systems and machine learning systems. 
    We are building the state-of-art system architect in the world, exploring the combination of academic and 
    industry to address the real-world problems.
  </div>

  <div class="biography">
    I joined ByteDance in Fall 2020. Before this, I achieved my Master Degree in Computer Science at 
    Columbia University. I did my undergraduate at Shanghai Jiao Tong University, majoring EECS. My advisor was 
    Prof. Hongtao Lu at CSE Department. I was once
    a member of Tencent AI Lab and Tencent Youtu Lab.
  </div>

  <h1>Research</h1>
  <h2> Distributed Machine Learning </h2>
  <div class="biography">
    Distributed machine learning is a cross-field topic of theories, algorithms and systems. It covers 
    many part of computer science, including data, model, comunication and hardware. With the help of distributed
    machine learning, you can train and serve large scale machine learning models, which is very essential especially in 
    large IT companies. For myself, most of my efforts has been devoted to the Parameter Server architect and the distributed 
    machine learning system based on data stream.
  </div>

  <h2> Streaming System </h2>
  <div class="biography">
    Processing large-scale data is a significant part of large systems. Streaming sytem allows businesses to crave even-more 
    timely insights into their data. Also, it is a perfect way of addressing the never-ending, unbounded datasets and make computation
    stress more evenly distributed according to time. With engines like Flink and Spark, you will be able to explore the funny part of 
    this topic.
  </div>

  <!--
  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
  -->
</article>
