<article class="post">
  <header class="post-header home">
    <div class="post-title">Biography</div>
  </header>

  
  I am currently a RecSys architect at ByteDance. My research spans broad areas of computer
  systems, including distributed systems, streaming systems and machine learning systems. 
  We are building the state-of-art system architect in the world, exploring the combination of academic and 
  industry to address the real-world problems.


  I joined ByteDance in Fall 2020. Before this, I achieved my Master Degree in Computer Science at 
  Columbia University. I did my undergraduate at Shanghai Jiao Tong University, majoring EECS. My advisor was 
  Prof. Hongtao Lu at CSE Department. I was once
  a member of Tencent AI Lab and Tencent Youtu Lab.



  <!--
  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
  -->
</article>

</div>
